/* Tailwind CSS */
@tailwind base;
@tailwind components;

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #213547;
  }
}

@tailwind utilities;
